# Firebase / API secrets
.env
.env.local
.env.*.local

.dev.vars
.pnpm-store/
node_modules/
dist/
build/
/apps/site/locora/dist/
/apps/application/build/

/apps/site/locora/node_modules
/apps/apis/node_modules